main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red {
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 100%;
}

.green {
    width: 150px;
    height: 150px;
    background-color:  rgb(5, 245, 5);
    border-radius: 100%;
}

.blue {
    width: 150px;
    height: 150px;
    background-color: blue;
    border-radius: 100%;
}

.container1 {
    display: flex;
    width: 100vw;
    justify-content: center;
    margin: 20px
}

.container1 div {
    margin: 10px;
}

.container2{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin: 50px;
}

.container3{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}