body{
    display:flex;
    height: 100vh;
   
}

.container{
    display: flex;
    flex-direction: column;

}

.red{
    background-color: red;
    height: 150px;
    width: 150px;
    border-radius: 100%; 

}

.green{
    background-color:  rgb(5, 245, 5);
    height: 150px;
    width: 150px;
    border-radius: 100px; 
    margin: 10px;
}

.blue{
    background-color: blue;
    height: 150px;
    width: 150px;
    border-radius: 100%; 
    margin: 10px;
}

.container2{
    display: flex;
    margin: 10px; 
   
}

.red{
    background-color: red;
    height: 150px;
    width: 150px;
    border-radius: 100%; 
    margin: 10px;

}

.green{
    background-color:  rgb(5, 245, 5);
    height: 150px;
    width: 150px;
    border-radius: 100px; 
    margin: 10px;
}

.blue{
    background-color: blue;
    height: 150px;
    width: 150px;
    border-radius: 100%; 
    margin: 10px;
}