*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div{
    width: 50%;
    display: grid;
    margin: 10px;
    grid-template-columns: 50% 50%;
    border-bottom: 1px solid #000;
}

main div label{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
}